
@font-face {
    font-family: 'light_pixel-7regular';
    src: url('./fonts/light_pixel-7-webfont.woff2') format('woff2'),
         url('./fonts/light_pixel-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'game_music_loveregular';
    src: url('./fonts/gomarice_game_music_love-webfont.woff2') format('woff2'),
         url('./fonts/gomarice_game_music_love-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    font-family:  'light_pixel-7regular', sans-serif;
}

body{
    display:flex;
    overflow-x: hidden;
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
    height:190%;  
    padding-bottom:1%;
    margin:0;
}
.dayNight{
    background-image: url("./images/night.gif");
    background-blend-mode: lighten;
    background-color: rgba(248, 248, 248, 0.253);
    background-size: cover;
    width: 100%; 
    height:100%; 
    
}
.background{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/backgroundImage.jpg");
    background-size:cover;
    background-color: rgba(248, 248, 248, 0.26);
    background-blend-mode: lighten;
    
   
    
}
.header{
    display: flex;
    flex-direction: row;

    
 
}
.header *{

padding-right: 0;
display: inline-block;

text-align: left;
}
.header > h1:first-child{
    text-align: right;

}
.logo{
    
    width: 7%;
    height:8%;
    
}

#maze{

    width:100%;
    height:90%;
    padding:2%;
    margin:0;
    position:relative;
    
}
h1{
   
    font-size: 3vw; 
    width:100%;
    color:white;
    margin-bottom:0;
    padding-top:1%;
    text-align: center;
}

.info{
    display:flex;
    flex-direction: row;
    width: 100%; 
    color:#F3E9FC;
    
}
#CurrentPlayerName{
    text-align: end;
   
}
.bar{
    background-color:  rgb(165, 155, 97);
    font-size:2vh;
    color:#F3E9FC;
    white-space: nowrap;
}


@media screen and (orientation:landscape) {

    .info *{
        flex-grow:1;
        font-size: 2vw;
        padding-left:10px;
        
    }
    #controlPhone{
        transform: scale(0);
    }
    section{
        display:flex;
        flex-direction: column; 
        align-items: center;
        height: 75vh;
        width: 50vw;
    }
    .whiteBackground{
        width:65vw;
        height: 65vh;
        height: fit-content;
        padding-bottom: 20%;;
        background-color: rgba(252, 252, 252, 0.87)
    }
    .headText{
        width:60vw;
        font-size: 4vw;
    }
    .logo{
        margin-top:3.5vw;
       
    }
    #home {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow:1;
        height:50vh;
        width:100%;
         
    }

    #home  *{
        font-size:2vw;
    }

    #topFive{
        font-size:2vw;
        
    }

    #playerName *{  
        font-size: 2.2vw;
       
    }
    .typeWriter{
        font-size: 2vw;
        letter-spacing: 10px;
    }


}
@media screen and (orientation:portrait) {
    *{
        touch-action: manipulation;
    }
    html{
        overflow: hidden;
    }
    .info *{
        flex-grow:1;
        font-size: 2vh;
        padding-left:10px;
        white-space: nowrap;
    }
    #controlPhone{
        transform: scale(1);
        width:100%;
        text-align: center;
        display:flex;
        flex-direction: row;
        font-size:4vw;
        
    }
    #controlPhone *{
        width :10%;
        height:10vh;
        border:none;
        outline:none;
        margin:0;
        font-size: larger;
        background-color: rgb(204, 198, 108);
        touch-action: manipulation;
    
    }
    #controlPhone *:active{
        background-color:rgb(51, 255, 0);
    }
    section{
        display:flex;
        flex-direction: column; 
        align-items: center;
        height: 65vh;
        width: 90vw;

    }
    .whiteBackground{
  
        width:90vw;
       height: fit-content;
        padding-bottom: 0;
        background-color: rgba(252, 252, 252, 0.87)
    }

    #topFive{
        font-size:2vh;
        
    }
    .headText{
        width:90vw;
        font-size: 3vh;
        margin-top:10vw;
    
    }
    .logo{
        margin-top:10vw;
    }
    #home{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow:1;
        height:50vh;
        width:100%;
        margin-top:20vw;
        
    }
    #home > *{
        font-size:2vh;
    }


    #playerName{
        flex-wrap: wrap;
    }
    #playerName *{  
        font-size: 2.2vh;
      
    }
    .typeWriter{
        margin-top:20%;
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 1.5vh;
        letter-spacing: -1px;
       
    }

}

.result{
    width:100%;
    height:100%;
}

#gameOver{
    top:40%;
    position: absolute;
    transform:scale(0);
    display:flex;
    flex-direction: column;
    width:100%;
    height:11vh;
    padding-bottom: 5%; 
    background-color:rgb(34, 23, 23);
    color:white;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    text-transform: capitalize;
    z-index: 10;
 
}

#gameOver.active{
    transform:scale(1);
}
#gameOver *{
  
    font-size:3vw;

}

.playAgain{
    color:rgb(32, 27, 28);
    background-color: white;
    font-weight:bold;
    cursor: pointer;
    width: 100%;
    
}
.playAgain p{
    animation : pulse 2s infinite;
    color:black;

}

#resultOptions{
    top:40%;
    position: absolute;
    transform:scale(0);
    display:flex;
    flex-direction: column;
    width:100%;
    height:11vh;
    padding-bottom: 5%; 
    background-color:rgb(34, 23, 23);
    color:white;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    text-transform: capitalize;
    z-index: 10;
    
}
#resultOptions *{
    font-size:3vw;
}
#homeScreen{
    cursor: pointer;
}

#resultOptions.active{
    transform:scale(1);
}

#overlay{
    opacity: 0;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgb(0,0,0,.8);
    pointer-events: none;
}
#overlay.active{
    pointer-events: all;
    opacity: 1;
}


#home h1{
    background-color: rgba(255, 255, 255, 0.397);
}

button{
    font-size: 2vw;
    flex-grow:1;
    width:50%;
    font-weight: bolder;
    color:white;
    border:none;
    outline:none;
    background-color:rgba(25, 36, 48, 0.26); 
       

}

#home > button span:hover{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #9d00e6, 0 0 40px #9d00e6, 0 0 50px #8a00e6, 0 0 60px #7700e6;

}

.headText{
    color:white;
    font-family: 'game_music_loveregular', sans-serif;
    
    padding-bottom: 2%;

}
.typeWriter{
    
    color:white;
    animation: typing 6s steps(50, end), blink .75s step-end infinite;
    border-right: 3px solid rgb(0, 255, 34);
    overflow: hidden;
    white-space:pre;
    background-color: rgba(46, 45, 45, 0.247);
  
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 87%; 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    60% { 
        border-color: rgb(51, 255, 0); 
    }
}

#playOptions{
    transform:scale(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width:100%;
    z-index: 10;
    top:15%;
  
    
}

#playOptions.active{
    transform:scale(1);
}

#playOptions *{
    padding:2%;

    margin-bottom: 1%;
    
}


#playerName {  
   display: flex;
   justify-content: center;
   flex-direction: row;
   padding-bottom: 1%;
   padding-top:0;
  
}


#playerName label{
    color:white;
    font-weight: bold;

    
}


.close{
    background-color: rgba(255, 255, 255, 0);
    color:white;
    border:none;
    text-align: right;
    outline: none;
    
}


#home button:hover span, #playOptions :hover span {
    padding-right: 25px;
}
  


.whiteBackground h3{
    color:rgb(156, 130, 44);
    text-align: center ;
    padding-top: 10%;
   
    font-size:3vw;
}
.whiteBackground h1{
    color:rgb(25, 36, 48);
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#settingOption{
    transform:scale(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    top:40%;
    position: absolute;
    width:100%;
    
    z-index: 10;

}


#who, #howLong{
    color:rgb(130, 128, 0);
}

#settingOption *{
    padding:2% 12%;
}
#settingOption.active{
    transform:scale(1);
}

#topFive{

    text-align: center;
    font-weight: bold;
}



@keyframes pulse {
	0% {
		transform: scale(0.97);
		
	}

    
	25% {
		transform: scale(1);
		
	}
    30% {
		transform: scale(1);
		
	}

	100% {
		transform: scale(0.97);
		
	}
}

.back{
    position:absolute;
    top:2vh;
    left:3vw;
    width:6%;
    cursor: pointer;
}
.back:hover{
    left:2.7vw;
}
.back:active{
   
    width:5%
}